.navbar1-size {
    width: 79vw;
    color: #fff !important;
    text-decoration: none;
    font-size: .8125rem;
    font-weight: 400;
    padding: 0.25rem;
    outline: 0;
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link:hover {
    color: #f0bdbd !important;
  }
  
  .navbar2-size {
    width: 79vw;
  }
  
  .header-wrapper {
    background: #f53d2d;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    min-height: 119px;
    max-height: 119px;
    color: white;
  }
  
  .search-button {
    color: white;
    background-color: #ee4d2d;
    border-color: #ffffff;
    border: 3px solid white;
  }
  
  .search-button:hover {
    background-color: #f95d3e;
    border-color: #ffffff;
  }
  
  .search-button:active {
    background-color: #f95d3e !important;
    border-color: #ffffff !important;
  }
  
  .form-style {
    background-color: white;
  }
  
  .form-style {
    border: 0;
    border-radius: 6px;
  }
  
  .sale {
    font-weight: 100;
    font-size: small;
  }
  
  .nav-bar-wrapper {
    padding: 0 !important;
  }
  
  .shopmee-logo {
    text-decoration: none;
    color: white;
  }